.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 1%;
}

.text-intro {
    width: 70%;
    padding: 2% 0px;
}

.text-intro h1 {
    font-weight: 400;
    font-size: 4vmin;
    color: #ff0063;
}

.text-intro p {
    font-weight: 500;
    color: rgb(31, 31, 31);
}

.btn-intro button {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0063;
    border: 2px solid #ff0063;
    border-radius: 5px;
    color: #fefefe;
    font-weight: 600;
}

.btn-intro button:hover {
    background-color: #ed0d63;
    border-color: #ed0d63;
    color: #fefefe;
    cursor: pointer;
    transition-duration: 0.3s;
    transform: scale(1.1);
}

.arrow {
    width: 20px;
    margin: 0px 5px;
}

.arrow:hover {
    color: #fefefe;
}
